<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TAGoodsDetailBusinessCategory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90C7B4751E0FA9B80039B030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C7B48E1E0FA9B80039B030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C7B4991E0FA9B80039B030</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
